{% extends 'layout.html' %}

{% load tz %}

{% block title %}News{% endblock %}

{% block content %}
<section class="news-section">
    <h1>Top News</h1>
    <div class="news-container">
        {% for new in news %}
            <article class="news-item">
                {% if new.image %}
                    <img src="{{ new.image }}" alt="{{ new.title }}">
                {% endif %}
                <div class="news-content">
                    <h2><a href="{{ new.url }}" target="_blank">{{ new.title }}</a></h2>
                    <p>{{ new.description }}</p>
                    <p class="news-meta">
                        Source: {{ new.source }} | Published: {{ new.published|timezone:"America/Sao_Paulo" }}
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>

    <a href="{% url 'news:random' %}">Show me something new!</a>
</section>
{% endblock %}
