{% extends 'layout.html' %}
{% load tz %} <!-- para adicionar a timezone na data do post -->

{% block title %}
    {{ profile_user.username }}'s Profile
{% endblock %}

{% block content %}
<section>
    {% if profile_user.photo %}
        <img src="{{ profile_user.photo.url }}" alt="{{ profile_user.username }}" style="width:150px; height:150px; object-fit:cover; border-radius:50%; border: 2px solid #fff;">
    {% else %}
        <span style="font-size:150px;">👤</span>
    {% endif %}
    <h1>{{ profile_user.username }}</h1>

     {% if profile_user.posts.all %}
        <ul>
            {% for post in profile_user.posts.all %}
                <article class="post">
                    <h2>
                        <a href="{% url 'posts:page' slug=post.slug pk=post.pk %}">
                        {{ post.title }}
                        </a>
                    </h2>
                    <p>{{ post.date|timezone:"America/Sao_Paulo" }} by {{ post.author }}</p>
                    <p>{{ post.body }}</p>
                    {% if post.author == request.user %}
                        <div style="display: flex; gap: 10px; align-items: center;">
                            
                            <a href="{% url 'posts:update' pk=post.pk slug=post.slug %}">
                                <button class="form-submit">Update Post</button>
                            </a>

                        
                            <div id="delete-section">
                                <button id="show-confirm" class="form-submit">Delete Post</button>
                            </div>
                        </div>

                        
                        <div id="confirm-delete" style="display:none; margin-top:5px;">
                            <p><span>Tem certeza que quer deletar?</span></p>
                            <form action="{% url 'posts:delete' pk=post.pk slug=post.slug %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="form-submit">Sim</button>
                            </form>
                            <button id="cancel-delete" class="form-submit">Não</button>
                        </div>

                        <script>
                            const showConfirm = document.getElementById('show-confirm');
                            const confirmDelete = document.getElementById('confirm-delete');
                            const cancelDelete = document.getElementById('cancel-delete');
                            
                            

                            showConfirm.addEventListener('click', () => {
                                showConfirm.style.display = 'none';
                                confirmDelete.style.display = 'block'; 
                            });

                            cancelDelete.addEventListener('click', () => {
                                showConfirm.style.display = 'inline';
                                confirmDelete.style.display = 'none';
                            });
                        </script>
                    {% endif %}


                </article>
            {% endfor %}
        </ul>
    {% else %}
        <p>Este usuário ainda não publicou nenhum post.</p>
    {% endif %}
</section>
{% endblock %}
