{% extends 'layout.html' %}
{% load static %}
{% load tz %} <!-- para adicionar a timezone na data do post -->

{% block title %}
    {{ post.title }}
{% endblock %}

{%  block content%}
    <section>
        {% if post.banner %}
            <img src="{{ post.banner.url }}" alt="{{ post.title }}" style="max-width: 400px; width: 100%; height: auto; border-radius: 10px; margin-bottom: 1rem;">
        {% else %}
            <img src="{% static 'images/fallback.png' %}" alt="{{ post.title }}" style="max-width: 400px; width: 100%; height: auto; border-radius: 10px; margin-bottom: 1rem;">
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.date|timezone:"America/Sao_Paulo"}}</p>
        <p>{{ post.body }}</p>
        
    </section>
{% endblock %}